.clear-button {
  height: 80px;
  font-size: 1.6em;
  font-weight: bold;
  display: flex;
  flex: 1;
  background-color: #ac0202;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  border: 2px solid #f3f3f3;
  border-radius: 45px;
  cursor: pointer;
  user-select: none;
}

.clear-button:hover {
  background-color: #ffe602;
  color: #ff1616;
}